/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #50be50 !important;
    color: white;
}

a {
    color: black;
}

a:hover {
    color: #49b149;
}
*/

/* body {
    background-image: url"{{asset((images/fon.jpg)}}";
    background-color:rgba(0,0,0,.3);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
} */

/* .bg-fon {
    background-color:rgba(0,0,0,.3);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
} */
